html,body,ul,li{
	font-size:16px;
	margin:0;
	padding:0;
}

html,body{
	width:100%;
	height:100%;
}
a:hover{
	text-decoration:none;
	color:#fff;
}
a:visited{
	color:#fff;
}
ul{
	list-style:none;
}

li{
	text-decoration-style:none;
}

/*主な見出しが2パターンああるので*/
h2{
  	font-family: "HiraKakuPro-W6";
  	font-weight: 400;
}

.h2-1{
	font-size: 3.625rem;
	letter-spacing: 2px;
	text-align:center;
	span{
		color: #51c191;
		}
}
.h2-2{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	padding-left:2.5rem;
	padding-right:2.5rem;
	border-bottom: solid 3px #51c191;
	font-size: 2.5rem;
}

p.h2-above{
	font-family: "HiraKakuPro-W6";
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1.25rem;
	text-align:center;
}
/*アカウント作成リンク*/
.account-create{
	margin:15vh auto;
	text-align:center;

	a{
		padding:1rem 13rem;
  		border-radius: 37.5px;
  		border: solid 1.6px #51c191;
  		background: #6dd2a5;
  		box-shadow: -2px -3px 4px rgba(255,255,255,0.5);
  		color: #ffffff;
  		font-family: "HiraKakuPro-W6";
  		font-size: 1.5rem;
  		font-weight: 400;
	}
}

/*円形画像*/
img.img-circle{
	width: 200px;
	height: 200px;
	padding:0;
	margin:0;
	border: solid 8px #51c191;
	border-radius:50%;
}

/*吹き出し*/
.balloon{
	position: relative;
	display: inline-block;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #FFF;
	border: solid 4px #51c191;
	border-radius: 20px;
	box-sizing: border-box;
	p{
		margin:0;
		font-family: "SourceHanSans-Normal";
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
	}
}
.balloon:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -46px;
	margin-top: -24px;
	border: 24px solid transparent;
	border-right: 24px solid #FFF;
	z-index: 2;
}
.balloon:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -50px;
	margin-top: -24px;
	border: 24px solid transparent;
	border-right: 24px solid #51c191;;
	z-index: 1;
}
.background-green{
	background-color:#6dd2a5;
}
.border-green{
	border-color:#6dd2a5;
}
.background-yellow{
	background-color:#ffde8b;
}
.border-yellow{
	border-color:#ffde8b;
}
.background-red{
	background-color:#ff9e8b;
}
.border-red{
	border-color:#ff9e8b;
}
.background-blue{
	background-color:#93bbff;
}
.border-blue{
	border-color:#93bbff;
}
.background-lightblue{
	background-color:#8bcfff;
}
.border-lightblue{
	border-color:#8bcfff;
}
.background-orange{
	background-color:#ffc68b;
}
.border-orange{
	border-color:#ffc68b;
}

/*中の要素を上下中央寄せ*/
.div-center{
	display: flex;
	justify-content:center;
  	align-items: center;

}
/*中の要素を下寄せ*/
.div-bottom{
	display: flex;
	justify-content:center;
	align-items: flex-end;
}
/*改行*/
.br{
	display:block;
}

/* LPページトップ背景*/
#header-introduction{
	background-image:url(image/header-background.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color:#6dd2a5;
}
/* header*/
header{

	.header-logo{
		height:100%;
		width:auto;
	}
	.navbar,.row{
		width:100%;
	}
	.navbar{
		margin:0 auto;
		background-color:#6dd2a5;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
		xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)'
		stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	ul{
		height:44px;
		list-style:none;
		text-align:center;

		.rectangle{
			display:block;
			width: 12rem;
			padding:0.5rem;
			border-radius: 22px;
		}
		.log-in{
			border:solid 1.6px #ffffff;
		}
		.account-create-header{
			background: #ffb635;
		}
		a{
			color:#fff;
			font-family:"HiraKakuPro-W6";
			font-size:1rem;
		}
		a:hover{
			color:#fff;
			text-decoration: none;
		}
		a.in-rectangle-font{
		  	font-size: 0.875rem;
		}
	}
	.show ul{
		background-color:#6dd2a5;
		width:100%;
		height:100%;
		li{
			width:100%;
			padding-top:1rem;
			padding-bottom:1rem;
			border-radius:0px;
			z-index: 500;
			background:#6dd2a5;
		}
	}

	/*JSで変更後と思われる*/
	.nav-color-change{ 
		a{
			color:#51c191;
		}
		a:hover{
			color:#51c191;
		}
		.log-in{
			border-color:#51c191;
		}
		.account-create-header a{
			color:#fff;
		}

	}
}
/*footer*/
footer{
	h2,h3,p,a{
		color:#fff;
		font-family: "HiraginoSans-W6";
		font-weight: 400;
		font-size:1rem;
	}

	h2{
  		font-size: 2.5rem;
  	}
  	a{
  		display:block;
  	}
  	a:before{
  		content:"- ";
  	}
}

/*LPページ*/

/*introduction*/
#introduction{
	padding-top:20vh;
	margin-bottom:30vh;

	p.h2{
		color: #ffffff;
		font-family: "HiraKakuPro-W6";
		font-size: 3.5rem;
		font-weight: 400;
	}
	p.h2-p{
	  	color: #ffffff;
	  	font-family: "HiraKakuPro-W3";
	  	font-size: 25px;
	  	font-weight: 400;
	}
	p#img-crown-p{
		display:inline-block;
		padding:10px 55px;
	  	border-radius: 45px;
	  	background: #ffffff;
	  	box-shadow: 2px 2px 2px rgba(119,119,119,0.5);
	  	color: #51c191;;
	  	font-family: "ToppanBunkyuMidashiGothicStdN-ExtraBold";
	  	font-size: 1.5rem;
	  	font-weight: 400;
	}
	p.h3-rectangle-p{
		color: #ffffff;
		font-family: "HiraKakuPro-W3";
		font-size: 2rem;
		font-weight: 400;
		text-align: center;	
	}
	#pngegg{
		width:100%;
		height:auto;
	}
	.h3-rectangle{
		/*ずらした分のマージンだいぶ適当です*/
		transform:translateY(50%);
	  	border-radius: 43.2px;
	  	border: solid 4px #51c191;
	  	background: #ffffff;
	  	display:flex;
	  	justify-content:space-evenly;

	  	h3{
		  	color: #51c191;
		  	font-family: "HiraKakuPro-W6";
		  	font-size: 20px;
		  	font-weight: 400;
		  	text-align: center;
		}
		i{
			color:#6dd2a5;
			height:80px;
			width:auto;
		}
	}
}
/*about*/
#about{
	margin-top:20vh;

	.h2-p{
		font-family: "HiraKakuPro-W3";
 		font-size: 1rem;
 		font-weight: 400;
	}
	.col-sm-6:before{
		content: "";
		border-radius: 26px;
		border: solid 1px;
		border-color: inherit;
		position: absolute;
		top: 24px;
		left: 24px;
		width: calc(100% - 48px);
		height: calc(100% - 48px);
	}
	.rectangle{
		height:18rem;
		border-radius: 26px;
		border: solid 10px #ffffff;
		h3{
			color: #ffffff;
			font-family: "HiraKakuPro-W6";
			font-size: 1.75rem;
			font-weight: 400;
			border-bottom: solid 3px #ffffff;
			text-align:center;
		}
		p{
			color: #ffffff;
			font-family: "HiraKakuPro-W3";
			font-size: 1.25rem;
			font-weight: 400;
		}
		i{
			color:#fff;
			opacity: 0.4;
			position:absolute;
			bottom:50px;
			left:50px;
		}
	}
	.rectangle:after{
			content:"";
			position:absolute;
			top:-15px;
			right:30px;
			width: 15px;
			height: 37px;
			background-color: inherit;
			transform: rotate(38deg);
		}
	.rectangle:before{
			content:"";
			position:absolute;
			top:20px;
			right:-5px;
			width: 15px;
			height: 37px;
			background: inherit;
			transform: rotate(63deg);
	}
}

#mind{
	margin-top:20vh;
	
	.background-green{
		margin-top:5vh;
		padding:15vh 0;
	}
}

#voice{
	margin-top:20vh;
}

#development{
	margin-top:20vh;

	p{
		color:#555555;
		font-family:"HiraKakuPro-W6";
		font-size:1.75rem;
		font-weight:400;
		text-align:center;
	}
	.row{
		counter-reset: number 0;
		margin:10vh 0;

		.rectangle{
			margin:auto;
			height:360px;
			border-radius: 10px;
			border: solid 4px #51c191;
			text-align:center;

			i{
				font-size:6rem;
				color:#51c191;	
			}
			h3{
			  	color: #51c191;
			  	font-family: "HiraKakuPro-W6";
			  	font-size: 1.25rem;
			  	font-weight: 400;
			  	text-align: center;			
			}
			p{
	  			color: #666666;
	  			font-family: "HiraKakuPro-W3";
	  			font-size: 1rem;
	  			font-weight: 400;
	  			text-align: center;
	  			line-height: 1.5rem
			}
		}
		.rectangle:before{
			counter-increment: number 1;
		    content: counter(number) " ";
		    position: absolute;
		    width: 43px;
		    height: 43px;
		    font-size: 1.25rem;
		    font-weight: 400;
		    top: -21.5px;
		    left: calc(50% - 21.5px);
		    background: #51c191;
		    color: #fff;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
		.col-sm-3{
			i{
				font-size:5rem;
			}
			h4{
				font-size:0.875rem;
			}
			p{
				font-size:0.75rem;
			}
			.rectangle{
  				height: 260px;
			}
			.rectangle:before{
				width:31px;
				height:31px;
				font-size:1rem;
				top: -15.5px;
				left: calc(50% - 15.5px);
			}
		}
		.div-end{
			position:absolute;
			top :50px;
		}
	}
}

#goal{
	margin-top:20vh;

	.row{
		counter-reset: number 0;
		position:relative;
		border-bottom: solid 5px #6dd2a5;

	}
	.row:after{
		display:block;
		content: "";
		position:absolute;
		right:-5px;
		bottom:-17px;
		 width: 0;
	     height: 0;
	     border-left: 15px solid #6dd2a5;
	     border-top: 15px solid transparent;
	     border-bottom: 15px solid transparent;
	}
	.rectangle{
		border-radius: 26px;
		border: double 8px #fff;
		text-align:center;
		height:400px;
		i{
			color:#fff;
			opacity: 0.4;
			font-size:5rem;
		}
		h3{
			color: #ffffff;
			font-family: "HiraKakuPro-W6";
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 1.375px;
		}
		p{
  			color: #ffffff;
  			font-family: "SourceHanSans-Normal";
  			font-size: 1rem;
  			font-weight: 400;
  			text-align: center;
		}
	}
	.rectangle:before{
		counter-increment: number 1;
		content: counter(number) " ";
		position: absolute;
		width: 43px;
		height: 43px;
		font-size: 1.25rem;
		font-weight: 400;
		top: -43px;
		left: calc(50% - 21.5px);
		background: inherit;
		color: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p{
  		font-family: "SourceHanSans-Normal";
  		font-size: 1.3rem;
  		font-weight: 400;
  		text-align: center;
	}
}

#faq{
	margin-top:10vh;
	padding-top:10vh;
	padding-bottom:10vh;
	background-color:#f5f5f5;
	border-radius: 45px;

	.rectangle{
	  	border-radius: 26px;
	  	background: #ffffff;

	 	p{
	 		position:relative;
	 		padding-left:75px;
		  	font-family: "HiraKakuPro-W6";
	  		font-size: 1.5rem;
	  		font-weight: 400;
	 	}
	 	.answer{
	 		border-top:solid 4px #ebf1f5;
	 	}
	 	.question p:before{
	 		display: flex;
			justify-content:center;
  			align-items: center;
	 		position:absolute;
	 		top: 0;
	 		left: 0;
	 		content:"Q";
	 		color:#fff;
	 		width: 50px;
		  	height: 50px;
		  	text-align:center;
		  	border-radius: 5px;
		  	background: #6dd2a5;
	 	}
	 	.answer p:before{
	 		display: flex;
			justify-content:center;
  			align-items: center;
	 		position:absolute;
	 		top: 0;
	 		left: 0;
	 		color:#000;
	 		content:"A";
	 		width: 50px;
 		 	height: 50px;
  			border-radius: 5px;
  			border: solid 3px ;
  			text-align:center
	 	}
	}
	a.inquiry{
		padding:1rem 4rem;
		margin:auto;
		position:relative;
		border-radius: 10px;
		background: #33404e;
  		color: #ffffff;
  		font-family: "HiraKakuPro-W6";
 		font-size: 2rem;
  		font-weight: 400;
  		letter-spacing: 1.4137931px;
	}
	a.inquiry:after{
		display:inline-block;
		content: "";
		position:absolute;
		top: calc(50% - 18px);
		right:1rem;
		width: 0;
	    height: 0;
	    border-left: 15px solid #fff;
	    border-top: 15px solid transparent;
	    border-bottom: 15px solid transparent;
	}
}
#cost{
	margin-top:20vh;

	.background-green{
		margin-top:10vh;
		padding:10vh 0;
	}
	p{
  		color: #ffffff;
  		font-family: "HiraKakuPro-W3";
  		font-size: 1.25rem;
  		font-weight: 400;
  		line-height: 2rem;
  		text-align:center;
	}

	.rectangle{
  		border-radius: 15px;
  		border: solid 3px #ffffff;
  		background: #ffffff;
  		box-shadow: -2px -2px 4px rgba(255,255,255,0.5);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  		box-shadow: inset 2px 2px 4px 2px rgba(0,0,0,0.5);

  		h3{
  			color: #51c191;
  			font-family: "HiraKakuPro-W6";
  			font-size: 1.75rem;
  			font-weight: 400;
  		}
  		p{
  			color: #51c191;
  			font-size: 1rem;
  		}
  		p.price{
  			font-size: 2rem;
  			border-bottom: solid 3px #51c191;
  		}
	}
}

#function-list{
	margin-top:20vh;

	table{
		margin-top:10vh;
		margin-left:auto;
		margin-right:auto;
		border-collapse: collapse;

		tr{
			td{
				padding:1.25rem 2.5rem;
				border: solid 1px #979797;
			  	color: #333333;
			  	font-family: "HiraKakuPro-W6";
			  	font-size: 1.25rem;
			  	font-weight: 400;
			  	text-align: center;
			}
			td:first-child{
				border-left:none;
				vertical-align:top;
			}
			td:last-child{
				border-right:none;
			}
		}		
		tr:first-child td{
			border-top:none;
		}
	}
}

.dushboard{
	margin-top:5vh;
	margin-bottom:5vh;

	.underscore{
		border-bottom: solid 3px #51c191;

	}
	h3{
		display:inline-block;
		padding-left:5rem;
  		font-family: "HiraKakuPro-W6";
  		font-size: 2.5rem;
  		font-weight: 400;
  		text-align:center;
	}
	p{
  		color: #666666;
  		font-family: "HiraKakuPro-W3";
  		font-size: 1rem;
  		font-weight: 400;
  		line-height: 2rem;
	}
	img {
		width:100%;
		height:auto;
	}
	i{
		display:inline-block;
		font-size:2.5rem
	}
}

#documents{

	margin-top:10vh;

	img{
		width:100%;
		height:auto;
	}
	p{
  		color: #666666;
  		font-family: "HiraKakuPro-W6";
  		font-size: 28px;
  		font-weight: 400;
  		text-align: center;
	}
}


#function-ditails{

	margin-top:10vh;

	h3{
	  	color: #51c191;
	  	font-family: "HiraKakuPro-W6";
	  	font-size: 1.75rem;
	  	font-weight: 400;
	  	text-align:center;
	}
	.rectangle{
		height:20rem;
  		border-radius: 15px;
  		border: solid 3px #51c191;
  		text-align:center;
  		i{
  			font-size:5rem;
  			color: #51c191
  		}
  		h4{
  			color: #51c191;
  			font-family: "HiraKakuPro-W6";
  			font-size:1.25rem;
  			font-weight: 400;
  			border-bottom: solid 3px #51c191;
  		}
  		p{
  			color: #51c191;
  			font-family: "HiraKakuPro-W3";
  			font-size: 1rem;
  			font-weight: 400;
  			line-height: 2rem;			
  		}
	}
}

#example{

	margin-top:10vh;

	.gradient-green{
		background: linear-gradient(180deg, #fff 0%, #fff 20%, #51c191 20%, #51c191 100%);
	}
	.rectangle{
	  	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	  	border-radius: 10px;
	  	background: #fff;

	  	img{
	  		width:100%;
	  		height:auto;
	  	}

	  	h3{
  			color: #51c191;
  			font-family: "HiraKakuPro-W6";
  			font-size: 1.5rem;
  			font-weight: 400;
  			line-height: 32px;
  			text-align: center;
  			border-bottom: solid 3px #51c191;
	  	}
	  	p{
  			color: #666666;
  			font-family: "HiraKakuPro-W3";
  			font-size: 1rem;
  			font-weight: 400;
  			line-height: 1.75rem;
	  	}
	}
}

.contact{
	margin-top:10vh;
	margin-bottom:10vh;

	.rectangle{
		text-align:center;
  		border-radius: 15px;
  		border: solid 3px #51c191;
 		background: #ffffff;
  		box-shadow: -2px -2px 4px rgba(255,255,255,0.5);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  		box-shadow: inset 2px 2px 4px 2px rgba(0,0,0,0.5);
  		h3{
  			color: #050505;
  			font-family: "HiraKakuPro-W6";
  			font-size: 2.5rem;
  			font-weight: 400;
  		}
  		p{
  			color: #666666;
  			font-family: "HiraKakuPro-W3";
  			font-size: 1.25rem;
  			font-weight: 400;
  			line-height: 2rem;
  		}
  		a{
  			display:inline-block;
  			padding:1rem 10rem;
  			border-radius: 37.5px;
  			background: #51c191;
  			box-shadow: -2px -3px 4px rgba(255,255,255,0.5);
  			color: #ffffff;
  			font-family: "HiraKakuPro-W6";
  			font-size: 1.5rem;
  			font-weight: 400;
  		}
	}
}

/* LPページ終わり*/

/* ~~~~~~~~~~~~~~~~~~~~*/

/* お知らせ */

#top-heading{
	h2{
  		color: #ffffff;
  		font-family: "HiraginoSans-W6";
  		font-size: 2rem;
  		font-weight: 400;
  		letter-spacing: 0.4px;
	}
}
#notice{
	margin-bottom:20vh;

	#maincontent{
		h3{
  			color: #050505;
  			font-family: "HiraginoSans-W6";
  			font-size: 1.75rem;
  			font-weight: 400;
  			letter-spacing: 0.4px;
		}
		p{
			color:#666666;
			font-family: "HiraKakuPro-W3";
			font-size:1rem;
			font-weight: 400;
			line-height:1.75rem;
		}
		img{
			width:100%;
			height:auto;
		}
	}
	#sidebar{
		h4{
			margin-top:1rem;
			margin-bottom:1rem;
  			color: #666666;
  			font-family: "HiraKakuPro-W6";
  			font-size: 1.25rem;
  			font-weight: 400;
		}
		a{
			position:relative;
			padding-top:1rem;
			padding-bottom:1rem;
			display:block;
  			color: #666666;
  			font-family: "HiraginoSans-W3";
  			font-size: 0.875rem;
 			font-weight: 400;
  			letter-spacing: 0.6px;
  			border-bottom:solid 1px #e6e6e6;
		}
		#category{
			
			a:after{
				content:"＞";
				position:absolute;
				right:1rem;
			}
		}
		#NewArticles{
			margin-top:10vh;

			a{
				padding-bottom:3rem;
			}
		}
	}
}
/* お知らせ終わり */

/*~~~~~~~~~~~~~~~~~*/

/* ページ名がわからなかったので適当にid,class名つけてます */

#introduction2{
	width:100%;
	height:100%;
	background-image:url(image/Group.png);
	background-repeat: no-repeat;
	background-size:cover;
	text-align:center;

	h2{
  		color: #ffffff;
  		font-family: "HiraginoSans-W6";
 		font-size: 4rem;
  		font-weight: 400;
  		letter-spacing: 0.7px;
	}
	p{
	  	color: #ffffff;
	  	font-family: "HiraginoSans-W3";
	  	font-size: 1.375rem;
	  	font-weight: 400;
	  	letter-spacing: 0.26px;
	}

	/*ここのクラス名適当です*/
	a{
		padding-top:0.75rem;
		padding-bottom:0.75rem;
		display:block;
		margin:3rem auto;
		width: 437px;
  		border-radius: 43.2px;
  		font-size:1.5rem;
  		position:relative;
	}
	a:after{
		content:"＞";
		position:absolute;
		right:1rem;
	}

	.a1{
  		background: #ffffff;
  		box-shadow: 2px 2px 2px rgba(119,119,119,0.5);
  		color:#51c191;
	}
	.a2{
		background: #ffb635;
  		box-shadow: -2px -3px 4px rgba(255,255,255,0.5);
  		box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.5);
  		color:#fff;
	}

}
#cost2{
	margin-top:10vh;
	margin-bottom:30vh;

	h3{
  		color: #51c191;
  		font-family: "HiraKakuPro-W6";
  		font-size: 2rem;
  		font-weight: 400;
 		text-align: center;
	}
	h4{
  		color: #ffffff;
  		font-family: "HiraginoSans-W6";
  		font-size: 1.5rem;
  		font-weight: 400;
	}
	p{
		margin-top:2rem;
		margin-bottom:2rem;
  		color: #ffffff;
  		font-family: "HiraginoSans-W3";
  		font-size: 1.25rem;
  		font-weight: 400;
  		line-height: 2rem;
	}
	img{
		width:100%;
		height:auto;
	}
	.row{
		margin-top:20vh;
		position:relative;
	}
	.col-right{
		position:absolute;
		right:5rem;
	}
}
#function-list2{
	margin-top:10vh;
	text-align:center;

	.row{
		margin:10vh 0;
	}

	.circle{
		margin-left:auto;
		margin-right:auto;
		height:200px;
		width:200px;
		background: #51c191;
		border-radius: 50%;
		text-align: center;
		i{
			color:#fff;
			font-size:4rem;
		}
	}
	.circle2{
		margin-left:auto;
		margin-right:auto;
		height:200px;
		width:200px;
		background: #fff;
		border: solid 4px #51c191;
		border-radius: 50%;
		text-align: center;
		i{
			color:#51c191;
			font-size:4rem;
		}
	}
	h3{
		margin-top:1.5rem;
		margin-bottom:1.5rem;
  		color: #51c191;
  		font-family: "HiraKakuPro-W6";
  		font-size: 1.5rem;
  		font-weight: 400;
	}
	p{
  		color: #666666;
  		font-family: "HiraKakuPro-W3";
  		font-size: 1rem;
  		font-weight: 400;
  		line-height: 2rem;
	}
}

#introduction-faq{
	padding-top:20vh;
	padding-bottom:20vh;
	width:100%;
	background-image:url(image/Group2.png);
	background-repeat: no-repeat;
	background-size:cover;
	text-align:center;
	h2{
  		color: #ffffff;
  		font-family: "HiraginoSans-W6";
  		font-size: 4rem;
  		font-weight: 400;
	}
	p{	
  		color: #ffffff;
  		font-family: "HiraginoSans-W3";
  		font-size: 1.5rem;
  		font-weight: 400;
  		line-height: 3rem;
	}
}

#faq2{
	margin-top:10vh;
	
	.container{
		margin-top:10vh;
	}

	h2{
		margin-bottom:10vh;
	}
	h3{
		padding-top:1rem;
		padding-bottom:1rem;
  		color: #51c191;
  		font-family: "HiraKakuPro-W6";
  		font-size: 1.5rem;
  		font-weight: 400;
  		border-bottom:solid 1px #51c191;
	}
	p{
		margin-top:1rem;
		margin-bottom:1rem;
  		color: #666666;
  		font-family: "HiraginoSans-W3";
  		font-size: 1rem;
  		font-weight: 400;
	}
	p:before{
		content:"・";
	}
	a{
		margin-top:3rem;
		display:block;
		color:#51c191;
		text-align:right;
	}
	a:after{
		content:"　＞＞";
	}
}