@charset "UTF-8";
/* line 1, stylesheet.scss */
html, body, ul, li {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 7, stylesheet.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 11, stylesheet.scss */
a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 15, stylesheet.scss */
a:visited {
  color: #fff;
}

/* line 18, stylesheet.scss */
ul {
  list-style: none;
}

/* line 22, stylesheet.scss */
li {
  text-decoration-style: none;
}

/*主な見出しが2パターンああるので*/
/* line 27, stylesheet.scss */
h2 {
  font-family: "HiraKakuPro-W6";
  font-weight: 400;
}

/* line 32, stylesheet.scss */
.h2-1 {
  font-size: 3.625rem;
  letter-spacing: 2px;
  text-align: center;
}
/* line 36, stylesheet.scss */
.h2-1 span {
  color: #51c191;
}

/* line 40, stylesheet.scss */
.h2-2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-bottom: solid 3px #51c191;
  font-size: 2.5rem;
}

/* line 50, stylesheet.scss */
p.h2-above {
  font-family: "HiraKakuPro-W6";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.25rem;
  text-align: center;
}

/*アカウント作成リンク*/
/* line 58, stylesheet.scss */
.account-create {
  margin: 15vh auto;
  text-align: center;
}
/* line 62, stylesheet.scss */
.account-create a {
  padding: 1rem 13rem;
  border-radius: 37.5px;
  border: solid 1.6px #51c191;
  background: #6dd2a5;
  box-shadow: -2px -3px 4px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}

/*円形画像*/
/* line 76, stylesheet.scss */
img.img-circle {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  border: solid 8px #51c191;
  border-radius: 50%;
}

/*吹き出し*/
/* line 86, stylesheet.scss */
.balloon {
  position: relative;
  display: inline-block;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 4px #51c191;
  border-radius: 20px;
  box-sizing: border-box;
}
/* line 97, stylesheet.scss */
.balloon p {
  margin: 0;
  font-family: "SourceHanSans-Normal";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* line 105, stylesheet.scss */
.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -46px;
  margin-top: -24px;
  border: 24px solid transparent;
  border-right: 24px solid #FFF;
  z-index: 2;
}

/* line 115, stylesheet.scss */
.balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -24px;
  border: 24px solid transparent;
  border-right: 24px solid #51c191;
  z-index: 1;
}

/* line 125, stylesheet.scss */
.background-green {
  background-color: #6dd2a5;
}

/* line 128, stylesheet.scss */
.border-green {
  border-color: #6dd2a5;
}

/* line 131, stylesheet.scss */
.background-yellow {
  background-color: #ffde8b;
}

/* line 134, stylesheet.scss */
.border-yellow {
  border-color: #ffde8b;
}

/* line 137, stylesheet.scss */
.background-red {
  background-color: #ff9e8b;
}

/* line 140, stylesheet.scss */
.border-red {
  border-color: #ff9e8b;
}

/* line 143, stylesheet.scss */
.background-blue {
  background-color: #93bbff;
}

/* line 146, stylesheet.scss */
.border-blue {
  border-color: #93bbff;
}

/* line 149, stylesheet.scss */
.background-lightblue {
  background-color: #8bcfff;
}

/* line 152, stylesheet.scss */
.border-lightblue {
  border-color: #8bcfff;
}

/* line 155, stylesheet.scss */
.background-orange {
  background-color: #ffc68b;
}

/* line 158, stylesheet.scss */
.border-orange {
  border-color: #ffc68b;
}

/*中の要素を上下中央寄せ*/
/* line 163, stylesheet.scss */
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*中の要素を下寄せ*/
/* line 170, stylesheet.scss */
.div-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*改行*/
/* line 176, stylesheet.scss */
.br {
  display: block;
}

/* LPページトップ背景*/
/* line 181, stylesheet.scss */
#header-introduction {
  background-image: url(image/header-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #6dd2a5;
}

/* header*/
/* line 188, stylesheet.scss */
header {
  /*JSで変更後と思われる*/
}
/* line 190, stylesheet.scss */
header .header-logo {
  height: 100%;
  width: auto;
}
/* line 194, stylesheet.scss */
header .navbar, header .row {
  width: 100%;
}
/* line 197, stylesheet.scss */
header .navbar {
  margin: 0 auto;
  background-color: #6dd2a5;
}
/* line 201, stylesheet.scss */
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'\a 		xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)'\a 		stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 206, stylesheet.scss */
header ul {
  height: 44px;
  list-style: none;
  text-align: center;
}
/* line 211, stylesheet.scss */
header ul .rectangle {
  display: block;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 22px;
}
/* line 217, stylesheet.scss */
header ul .log-in {
  border: solid 1.6px #ffffff;
}
/* line 220, stylesheet.scss */
header ul .account-create-header {
  background: #ffb635;
}
/* line 223, stylesheet.scss */
header ul a {
  color: #fff;
  font-family: "HiraKakuPro-W6";
  font-size: 1rem;
}
/* line 228, stylesheet.scss */
header ul a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 232, stylesheet.scss */
header ul a.in-rectangle-font {
  font-size: 0.875rem;
}
/* line 236, stylesheet.scss */
header .show ul {
  background-color: #6dd2a5;
  width: 100%;
  height: 100%;
}
/* line 240, stylesheet.scss */
header .show ul li {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0px;
  z-index: 500;
  background: #6dd2a5;
}
/* line 252, stylesheet.scss */
header .nav-color-change a {
  color: #51c191;
}
/* line 255, stylesheet.scss */
header .nav-color-change a:hover {
  color: #51c191;
}
/* line 258, stylesheet.scss */
header .nav-color-change .log-in {
  border-color: #51c191;
}
/* line 261, stylesheet.scss */
header .nav-color-change .account-create-header a {
  color: #fff;
}

/*footer*/
/* line 269, stylesheet.scss */
footer h2, footer h3, footer p, footer a {
  color: #fff;
  font-family: "HiraginoSans-W6";
  font-weight: 400;
  font-size: 1rem;
}
/* line 276, stylesheet.scss */
footer h2 {
  font-size: 2.5rem;
}
/* line 279, stylesheet.scss */
footer a {
  display: block;
}
/* line 282, stylesheet.scss */
footer a:before {
  content: "- ";
}

/*LPページ*/
/*introduction*/
/* line 290, stylesheet.scss */
#introduction {
  padding-top: 20vh;
  margin-bottom: 30vh;
}
/* line 294, stylesheet.scss */
#introduction p.h2 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 3.5rem;
  font-weight: 400;
}
/* line 300, stylesheet.scss */
#introduction p.h2-p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 25px;
  font-weight: 400;
}
/* line 306, stylesheet.scss */
#introduction p#img-crown-p {
  display: inline-block;
  padding: 10px 55px;
  border-radius: 45px;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(119, 119, 119, 0.5);
  color: #51c191;
  font-family: "ToppanBunkyuMidashiGothicStdN-ExtraBold";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 317, stylesheet.scss */
#introduction p.h3-rectangle-p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
/* line 324, stylesheet.scss */
#introduction #pngegg {
  width: 100%;
  height: auto;
}
/* line 328, stylesheet.scss */
#introduction .h3-rectangle {
  /*ずらした分のマージンだいぶ適当です*/
  transform: translateY(50%);
  border-radius: 43.2px;
  border: solid 4px #51c191;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
/* line 337, stylesheet.scss */
#introduction .h3-rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
/* line 344, stylesheet.scss */
#introduction .h3-rectangle i {
  color: #6dd2a5;
  height: 80px;
  width: auto;
}

/*about*/
/* line 352, stylesheet.scss */
#about {
  margin-top: 20vh;
}
/* line 355, stylesheet.scss */
#about .h2-p {
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
}
/* line 360, stylesheet.scss */
#about .col-sm-6:before {
  content: "";
  border-radius: 26px;
  border: solid 1px;
  border-color: inherit;
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
}
/* line 371, stylesheet.scss */
#about .rectangle {
  height: 18rem;
  border-radius: 26px;
  border: solid 10px #ffffff;
}
/* line 375, stylesheet.scss */
#about .rectangle h3 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  border-bottom: solid 3px #ffffff;
  text-align: center;
}
/* line 383, stylesheet.scss */
#about .rectangle p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
}
/* line 389, stylesheet.scss */
#about .rectangle i {
  color: #fff;
  opacity: 0.4;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
/* line 397, stylesheet.scss */
#about .rectangle:after {
  content: "";
  position: absolute;
  top: -15px;
  right: 30px;
  width: 15px;
  height: 37px;
  background-color: inherit;
  transform: rotate(38deg);
}
/* line 407, stylesheet.scss */
#about .rectangle:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 15px;
  height: 37px;
  background: inherit;
  transform: rotate(63deg);
}

/* line 419, stylesheet.scss */
#mind {
  margin-top: 20vh;
}
/* line 422, stylesheet.scss */
#mind .background-green {
  margin-top: 5vh;
  padding: 15vh 0;
}

/* line 428, stylesheet.scss */
#voice {
  margin-top: 20vh;
}

/* line 432, stylesheet.scss */
#development {
  margin-top: 20vh;
}
/* line 435, stylesheet.scss */
#development p {
  color: #555555;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
/* line 442, stylesheet.scss */
#development .row {
  counter-reset: number 0;
  margin: 10vh 0;
}
/* line 446, stylesheet.scss */
#development .row .rectangle {
  margin: auto;
  height: 360px;
  border-radius: 10px;
  border: solid 4px #51c191;
  text-align: center;
}
/* line 453, stylesheet.scss */
#development .row .rectangle i {
  font-size: 6rem;
  color: #51c191;
}
/* line 457, stylesheet.scss */
#development .row .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
/* line 464, stylesheet.scss */
#development .row .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}
/* line 473, stylesheet.scss */
#development .row .rectangle:before {
  counter-increment: number 1;
  content: counter(number) " ";
  position: absolute;
  width: 43px;
  height: 43px;
  font-size: 1.25rem;
  font-weight: 400;
  top: -21.5px;
  left: calc(50% - 21.5px);
  background: #51c191;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 491, stylesheet.scss */
#development .row .col-sm-3 i {
  font-size: 5rem;
}
/* line 494, stylesheet.scss */
#development .row .col-sm-3 h4 {
  font-size: 0.875rem;
}
/* line 497, stylesheet.scss */
#development .row .col-sm-3 p {
  font-size: 0.75rem;
}
/* line 500, stylesheet.scss */
#development .row .col-sm-3 .rectangle {
  height: 260px;
}
/* line 503, stylesheet.scss */
#development .row .col-sm-3 .rectangle:before {
  width: 31px;
  height: 31px;
  font-size: 1rem;
  top: -15.5px;
  left: calc(50% - 15.5px);
}
/* line 511, stylesheet.scss */
#development .row .div-end {
  position: absolute;
  top: 50px;
}

/* line 518, stylesheet.scss */
#goal {
  margin-top: 20vh;
}
/* line 521, stylesheet.scss */
#goal .row {
  counter-reset: number 0;
  position: relative;
  border-bottom: solid 5px #6dd2a5;
}
/* line 527, stylesheet.scss */
#goal .row:after {
  display: block;
  content: "";
  position: absolute;
  right: -5px;
  bottom: -17px;
  width: 0;
  height: 0;
  border-left: 15px solid #6dd2a5;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/* line 539, stylesheet.scss */
#goal .rectangle {
  border-radius: 26px;
  border: double 8px #fff;
  text-align: center;
  height: 400px;
}
/* line 544, stylesheet.scss */
#goal .rectangle i {
  color: #fff;
  opacity: 0.4;
  font-size: 5rem;
}
/* line 549, stylesheet.scss */
#goal .rectangle h3 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.375px;
}
/* line 556, stylesheet.scss */
#goal .rectangle p {
  color: #ffffff;
  font-family: "SourceHanSans-Normal";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* line 564, stylesheet.scss */
#goal .rectangle:before {
  counter-increment: number 1;
  content: counter(number) " ";
  position: absolute;
  width: 43px;
  height: 43px;
  font-size: 1.25rem;
  font-weight: 400;
  top: -43px;
  left: calc(50% - 21.5px);
  background: inherit;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 581, stylesheet.scss */
#goal p {
  font-family: "SourceHanSans-Normal";
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

/* line 589, stylesheet.scss */
#faq {
  margin-top: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #f5f5f5;
  border-radius: 45px;
}
/* line 596, stylesheet.scss */
#faq .rectangle {
  border-radius: 26px;
  background: #ffffff;
}
/* line 600, stylesheet.scss */
#faq .rectangle p {
  position: relative;
  padding-left: 75px;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 607, stylesheet.scss */
#faq .rectangle .answer {
  border-top: solid 4px #ebf1f5;
}
/* line 610, stylesheet.scss */
#faq .rectangle .question p:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  content: "Q";
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  background: #6dd2a5;
}
/* line 625, stylesheet.scss */
#faq .rectangle .answer p:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  content: "A";
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid 3px;
  text-align: center;
}
/* line 641, stylesheet.scss */
#faq a.inquiry {
  padding: 1rem 4rem;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background: #33404e;
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.4137931px;
}
/* line 653, stylesheet.scss */
#faq a.inquiry:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: calc(50% - 18px);
  right: 1rem;
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* line 666, stylesheet.scss */
#cost {
  margin-top: 20vh;
}
/* line 669, stylesheet.scss */
#cost .background-green {
  margin-top: 10vh;
  padding: 10vh 0;
}
/* line 673, stylesheet.scss */
#cost p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
/* line 682, stylesheet.scss */
#cost .rectangle {
  border-radius: 15px;
  border: solid 3px #ffffff;
  background: #ffffff;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
/* line 690, stylesheet.scss */
#cost .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
}
/* line 696, stylesheet.scss */
#cost .rectangle p {
  color: #51c191;
  font-size: 1rem;
}
/* line 700, stylesheet.scss */
#cost .rectangle p.price {
  font-size: 2rem;
  border-bottom: solid 3px #51c191;
}

/* line 707, stylesheet.scss */
#function-list {
  margin-top: 20vh;
}
/* line 710, stylesheet.scss */
#function-list table {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
/* line 717, stylesheet.scss */
#function-list table tr td {
  padding: 1.25rem 2.5rem;
  border: solid 1px #979797;
  color: #333333;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
/* line 726, stylesheet.scss */
#function-list table tr td:first-child {
  border-left: none;
  vertical-align: top;
}
/* line 730, stylesheet.scss */
#function-list table tr td:last-child {
  border-right: none;
}
/* line 734, stylesheet.scss */
#function-list table tr:first-child td {
  border-top: none;
}

/* line 740, stylesheet.scss */
.dushboard {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* line 744, stylesheet.scss */
.dushboard .underscore {
  border-bottom: solid 3px #51c191;
}
/* line 748, stylesheet.scss */
.dushboard h3 {
  display: inline-block;
  padding-left: 5rem;
  font-family: "HiraKakuPro-W6";
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
/* line 756, stylesheet.scss */
.dushboard p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
/* line 763, stylesheet.scss */
.dushboard img {
  width: 100%;
  height: auto;
}
/* line 767, stylesheet.scss */
.dushboard i {
  display: inline-block;
  font-size: 2.5rem;
}

/* line 773, stylesheet.scss */
#documents {
  margin-top: 10vh;
}
/* line 777, stylesheet.scss */
#documents img {
  width: 100%;
  height: auto;
}
/* line 781, stylesheet.scss */
#documents p {
  color: #666666;
  font-family: "HiraKakuPro-W6";
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

/* line 791, stylesheet.scss */
#function-ditails {
  margin-top: 10vh;
}
/* line 795, stylesheet.scss */
#function-ditails h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
/* line 802, stylesheet.scss */
#function-ditails .rectangle {
  height: 20rem;
  border-radius: 15px;
  border: solid 3px #51c191;
  text-align: center;
}
/* line 807, stylesheet.scss */
#function-ditails .rectangle i {
  font-size: 5rem;
  color: #51c191;
}
/* line 811, stylesheet.scss */
#function-ditails .rectangle h4 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: solid 3px #51c191;
}
/* line 818, stylesheet.scss */
#function-ditails .rectangle p {
  color: #51c191;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

/* line 828, stylesheet.scss */
#example {
  margin-top: 10vh;
}
/* line 832, stylesheet.scss */
#example .gradient-green {
  background: linear-gradient(180deg, #fff 0%, #fff 20%, #51c191 20%, #51c191 100%);
}
/* line 835, stylesheet.scss */
#example .rectangle {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #fff;
}
/* line 840, stylesheet.scss */
#example .rectangle img {
  width: 100%;
  height: auto;
}
/* line 845, stylesheet.scss */
#example .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-bottom: solid 3px #51c191;
}
/* line 854, stylesheet.scss */
#example .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/* line 864, stylesheet.scss */
.contact {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
/* line 868, stylesheet.scss */
.contact .rectangle {
  text-align: center;
  border-radius: 15px;
  border: solid 3px #51c191;
  background: #ffffff;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
/* line 876, stylesheet.scss */
.contact .rectangle h3 {
  color: #050505;
  font-family: "HiraKakuPro-W6";
  font-size: 2.5rem;
  font-weight: 400;
}
/* line 882, stylesheet.scss */
.contact .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}
/* line 889, stylesheet.scss */
.contact .rectangle a {
  display: inline-block;
  padding: 1rem 10rem;
  border-radius: 37.5px;
  background: #51c191;
  box-shadow: -2px -3px 4px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}

/* LPページ終わり*/
/* ~~~~~~~~~~~~~~~~~~~~*/
/* お知らせ */
/* line 910, stylesheet.scss */
#top-heading h2 {
  color: #ffffff;
  font-family: "HiraginoSans-W6";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* line 918, stylesheet.scss */
#notice {
  margin-bottom: 20vh;
}
/* line 922, stylesheet.scss */
#notice #maincontent h3 {
  color: #050505;
  font-family: "HiraginoSans-W6";
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}
/* line 929, stylesheet.scss */
#notice #maincontent p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}
/* line 936, stylesheet.scss */
#notice #maincontent img {
  width: 100%;
  height: auto;
}
/* line 942, stylesheet.scss */
#notice #sidebar h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #666666;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
}
/* line 950, stylesheet.scss */
#notice #sidebar a {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  color: #666666;
  font-family: "HiraginoSans-W3";
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  border-bottom: solid 1px #e6e6e6;
}
/* line 964, stylesheet.scss */
#notice #sidebar #category a:after {
  content: "＞";
  position: absolute;
  right: 1rem;
}
/* line 970, stylesheet.scss */
#notice #sidebar #NewArticles {
  margin-top: 10vh;
}
/* line 973, stylesheet.scss */
#notice #sidebar #NewArticles a {
  padding-bottom: 3rem;
}

/* お知らせ終わり */
/*~~~~~~~~~~~~~~~~~*/
/* ページ名がわからなかったので適当にid,class名つけてます */
/* line 985, stylesheet.scss */
#introduction2 {
  width: 100%;
  height: 100%;
  background-image: url(image/Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /*ここのクラス名適当です*/
}
/* line 993, stylesheet.scss */
#introduction2 h2 {
  color: #ffffff;
  font-family: "HiraginoSans-W6";
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.7px;
}
/* line 1000, stylesheet.scss */
#introduction2 p {
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.26px;
}
/* line 1009, stylesheet.scss */
#introduction2 a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: block;
  margin: 3rem auto;
  width: 437px;
  border-radius: 43.2px;
  font-size: 1.5rem;
  position: relative;
}
/* line 1019, stylesheet.scss */
#introduction2 a:after {
  content: "＞";
  position: absolute;
  right: 1rem;
}
/* line 1025, stylesheet.scss */
#introduction2 .a1 {
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(119, 119, 119, 0.5);
  color: #51c191;
}
/* line 1030, stylesheet.scss */
#introduction2 .a2 {
  background: #ffb635;
  box-shadow: -2px -3px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 1038, stylesheet.scss */
#cost2 {
  margin-top: 10vh;
  margin-bottom: 30vh;
}
/* line 1042, stylesheet.scss */
#cost2 h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
/* line 1049, stylesheet.scss */
#cost2 h4 {
  color: #ffffff;
  font-family: "HiraginoSans-W6";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 1055, stylesheet.scss */
#cost2 p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}
/* line 1064, stylesheet.scss */
#cost2 img {
  width: 100%;
  height: auto;
}
/* line 1068, stylesheet.scss */
#cost2 .row {
  margin-top: 20vh;
  position: relative;
}
/* line 1072, stylesheet.scss */
#cost2 .col-right {
  position: absolute;
  right: 5rem;
}

/* line 1077, stylesheet.scss */
#function-list2 {
  margin-top: 10vh;
  text-align: center;
}
/* line 1081, stylesheet.scss */
#function-list2 .row {
  margin: 10vh 0;
}
/* line 1085, stylesheet.scss */
#function-list2 .circle {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background: #51c191;
  border-radius: 50%;
  text-align: center;
}
/* line 1093, stylesheet.scss */
#function-list2 .circle i {
  color: #fff;
  font-size: 4rem;
}
/* line 1098, stylesheet.scss */
#function-list2 .circle2 {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background: #fff;
  border: solid 4px #51c191;
  border-radius: 50%;
  text-align: center;
}
/* line 1107, stylesheet.scss */
#function-list2 .circle2 i {
  color: #51c191;
  font-size: 4rem;
}
/* line 1112, stylesheet.scss */
#function-list2 h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 1120, stylesheet.scss */
#function-list2 p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

/* line 1129, stylesheet.scss */
#introduction-faq {
  padding-top: 20vh;
  padding-bottom: 20vh;
  width: 100%;
  background-image: url(image/Group2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 1137, stylesheet.scss */
#introduction-faq h2 {
  color: #ffffff;
  font-family: "HiraginoSans-W6";
  font-size: 4rem;
  font-weight: 400;
}
/* line 1143, stylesheet.scss */
#introduction-faq p {
  color: #ffffff;
  font-family: "HiraginoSans-W3";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
}

/* line 1152, stylesheet.scss */
#faq2 {
  margin-top: 10vh;
}
/* line 1155, stylesheet.scss */
#faq2 .container {
  margin-top: 10vh;
}
/* line 1159, stylesheet.scss */
#faq2 h2 {
  margin-bottom: 10vh;
}
/* line 1162, stylesheet.scss */
#faq2 h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: solid 1px #51c191;
}
/* line 1171, stylesheet.scss */
#faq2 p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #666666;
  font-family: "HiraginoSans-W3";
  font-size: 1rem;
  font-weight: 400;
}
/* line 1179, stylesheet.scss */
#faq2 p:before {
  content: "・";
}
/* line 1182, stylesheet.scss */
#faq2 a {
  margin-top: 3rem;
  display: block;
  color: #51c191;
  text-align: right;
}
/* line 1188, stylesheet.scss */
#faq2 a:after {
  content: "　＞＞";
}
