@charset "UTF-8";
/* line 1, stylesheet.scss */
html, body, ul, li {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 6, stylesheet.scss */
a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 10, stylesheet.scss */
a:visited {
  color: #fff;
}

/* line 13, stylesheet.scss */
ul {
  list-style: none;
}

/* line 17, stylesheet.scss */
li {
  text-decoration-style: none;
}

/*主な見出しが2パターンああるので*/
/* line 22, stylesheet.scss */
h2 {
  font-family: "HiraKakuPro-W6";
  font-weight: 400;
}

/* line 27, stylesheet.scss */
.h2-1 {
  font-size: 3.625rem;
  letter-spacing: 2px;
  text-align: center;
}
/* line 31, stylesheet.scss */
.h2-1 span {
  color: #51c191;
}

/* line 35, stylesheet.scss */
.h2-2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-bottom: solid 3px #51c191;
  font-size: 2.5rem;
}

/* line 45, stylesheet.scss */
p.h2-above {
  font-family: "HiraKakuPro-W6";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.25rem;
  text-align: center;
}

/*アカウント作成リンク*/
/* line 53, stylesheet.scss */
.account-create {
  margin: 15vh auto;
  text-align: center;
}
/* line 57, stylesheet.scss */
.account-create a {
  padding: 1rem 13rem;
  border-radius: 37.5px;
  border: solid 1.6px #51c191;
  background: #6dd2a5;
  box-shadow: -2px -3px 4px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}

/*円形画像*/
/* line 71, stylesheet.scss */
img.img-circle {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  border: solid 8px #51c191;
  border-radius: 50%;
}

/*吹き出し*/
/* line 81, stylesheet.scss */
.balloon {
  position: relative;
  display: inline-block;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 4px #51c191;
  border-radius: 20px;
  box-sizing: border-box;
}
/* line 92, stylesheet.scss */
.balloon p {
  margin: 0;
  font-family: "SourceHanSans-Normal";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* line 100, stylesheet.scss */
.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -46px;
  margin-top: -24px;
  border: 24px solid transparent;
  border-right: 24px solid #FFF;
  z-index: 2;
}

/* line 110, stylesheet.scss */
.balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -24px;
  border: 24px solid transparent;
  border-right: 24px solid #51c191;
  z-index: 1;
}

/* line 120, stylesheet.scss */
.background-green {
  background-color: #6dd2a5;
}

/* line 123, stylesheet.scss */
.border-green {
  border-color: #6dd2a5;
}

/* line 126, stylesheet.scss */
.background-yellow {
  background-color: #ffde8b;
}

/* line 129, stylesheet.scss */
.border-yellow {
  border-color: #ffde8b;
}

/* line 132, stylesheet.scss */
.background-red {
  background-color: #ff9e8b;
}

/* line 135, stylesheet.scss */
.border-red {
  border-color: #ff9e8b;
}

/* line 138, stylesheet.scss */
.background-blue {
  background-color: #93bbff;
}

/* line 141, stylesheet.scss */
.border-blue {
  border-color: #93bbff;
}

/* line 144, stylesheet.scss */
.background-lightblue {
  background-color: #8bcfff;
}

/* line 147, stylesheet.scss */
.border-lightblue {
  border-color: #8bcfff;
}

/* line 150, stylesheet.scss */
.background-orange {
  background-color: #ffc68b;
}

/* line 153, stylesheet.scss */
.border-orange {
  border-color: #ffc68b;
}

/*中の要素を上下中央寄せ*/
/* line 158, stylesheet.scss */
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*中の要素を下寄せ*/
/* line 165, stylesheet.scss */
.div-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*改行*/
/* line 171, stylesheet.scss */
.br {
  display: block;
}

/* header-nav*/
/* line 176, stylesheet.scss */
#header-introduction {
  background-image: url(image/header-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #6dd2a5;
}

/* line 184, stylesheet.scss */
header #header-logo {
  width: auto;
  height: 33px;
}
/* line 188, stylesheet.scss */
header ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 44px;
}
/* line 195, stylesheet.scss */
header ul .rectangle {
  width: 12rem;
  border-radius: 22px;
}
/* line 199, stylesheet.scss */
header ul .log-in {
  border: solid 1.6px #ffffff;
}
/* line 202, stylesheet.scss */
header ul .account-create-header {
  background: #ffb635;
}
/* line 205, stylesheet.scss */
header ul a {
  color: #fff;
  font-family: "HiraKakuPro-W6";
  font-size: 1rem;
}
/* line 210, stylesheet.scss */
header ul a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 214, stylesheet.scss */
header ul a.in-rectangle-font {
  font-size: 0.875rem;
}

/*introduction*/
/* line 221, stylesheet.scss */
#introduction {
  margin-top: 20vh;
  margin-bottom: 30vh;
}
/* line 225, stylesheet.scss */
#introduction p.h2 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 3.5rem;
  font-weight: 400;
}
/* line 231, stylesheet.scss */
#introduction p.h2-p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 25px;
  font-weight: 400;
}
/* line 237, stylesheet.scss */
#introduction p#img-crown-p {
  display: inline-block;
  padding: 10px 55px;
  border-radius: 45px;
  background: #ffffff;
  box-shadow: 2px 2px 2px rgba(119, 119, 119, 0.5);
  color: #51c191;
  font-family: "ToppanBunkyuMidashiGothicStdN-ExtraBold";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 248, stylesheet.scss */
#introduction p.h3-rectangle-p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
/* line 255, stylesheet.scss */
#introduction .h3-rectangle {
  /*ずらした分のマージンだいぶ適当です*/
  transform: translateY(50%);
  border-radius: 43.2px;
  border: solid 4px #51c191;
  background: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
/* line 264, stylesheet.scss */
#introduction .h3-rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
/* line 271, stylesheet.scss */
#introduction .h3-rectangle i {
  color: #6dd2a5;
  height: 80px;
  width: auto;
}

/*about*/
/* line 279, stylesheet.scss */
#about {
  margin-top: 20vh;
}
/* line 282, stylesheet.scss */
#about .h2-p {
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
}
/* line 287, stylesheet.scss */
#about .col-sm-6:before {
  content: "";
  border-radius: 26px;
  border: solid 1px;
  border-color: inherit;
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
}
/* line 298, stylesheet.scss */
#about .rectangle {
  height: 18rem;
  border-radius: 26px;
  border: solid 10px #ffffff;
}
/* line 302, stylesheet.scss */
#about .rectangle h3 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  border-bottom: solid 3px #ffffff;
  text-align: center;
}
/* line 310, stylesheet.scss */
#about .rectangle p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
}
/* line 316, stylesheet.scss */
#about .rectangle i {
  color: #fff;
  opacity: 0.4;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
/* line 324, stylesheet.scss */
#about .rectangle:after {
  content: "";
  position: absolute;
  top: -15px;
  right: 30px;
  width: 15px;
  height: 37px;
  background-color: inherit;
  transform: rotate(38deg);
}
/* line 334, stylesheet.scss */
#about .rectangle:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 15px;
  height: 37px;
  background: inherit;
  transform: rotate(63deg);
}

/* line 346, stylesheet.scss */
#mind {
  margin-top: 20vh;
}
/* line 349, stylesheet.scss */
#mind .background-green {
  margin-top: 5vh;
  padding: 15vh 0;
}

/* line 355, stylesheet.scss */
#voice {
  margin-top: 20vh;
}

/* line 359, stylesheet.scss */
#development {
  margin-top: 20vh;
}
/* line 362, stylesheet.scss */
#development p {
  color: #555555;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
/* line 369, stylesheet.scss */
#development .row {
  counter-reset: number 0;
  margin: 10vh 0;
}
/* line 373, stylesheet.scss */
#development .row .rectangle {
  margin: auto;
  width: 330px;
  height: 360px;
  border-radius: 10px;
  border: solid 4px #51c191;
  text-align: center;
}
/* line 381, stylesheet.scss */
#development .row .rectangle i {
  font-size: 6rem;
  color: #51c191;
}
/* line 385, stylesheet.scss */
#development .row .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
/* line 392, stylesheet.scss */
#development .row .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}
/* line 401, stylesheet.scss */
#development .row .rectangle:before {
  counter-increment: number 1;
  content: counter(number) " ";
  position: absolute;
  width: 43px;
  height: 43px;
  font-size: 1.25rem;
  font-weight: 400;
  top: -21.5px;
  left: calc(50% - 21.5px);
  background: #51c191;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 419, stylesheet.scss */
#development .row .col-sm-3 i {
  font-size: 5rem;
}
/* line 422, stylesheet.scss */
#development .row .col-sm-3 h4 {
  font-size: 0.875rem;
}
/* line 425, stylesheet.scss */
#development .row .col-sm-3 p {
  font-size: 0.75rem;
}
/* line 428, stylesheet.scss */
#development .row .col-sm-3 .rectangle {
  width: 240px;
  height: 260px;
}
/* line 432, stylesheet.scss */
#development .row .col-sm-3 .rectangle:before {
  width: 31px;
  height: 31px;
  font-size: 1rem;
  top: -15.5px;
  left: calc(50% - 15.5px);
}
/* line 440, stylesheet.scss */
#development .row .div-end {
  position: absolute;
  top: 50px;
}

/* line 447, stylesheet.scss */
#goal {
  margin-top: 20vh;
}
/* line 450, stylesheet.scss */
#goal .row {
  counter-reset: number 0;
  position: relative;
  border-bottom: solid 5px #6dd2a5;
}
/* line 456, stylesheet.scss */
#goal .row:after {
  display: block;
  content: "";
  position: absolute;
  right: -5px;
  bottom: -17px;
  width: 0;
  height: 0;
  border-left: 15px solid #6dd2a5;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/* line 468, stylesheet.scss */
#goal .rectangle {
  border-radius: 26px;
  border: double 8px #fff;
  text-align: center;
  height: 400px;
}
/* line 473, stylesheet.scss */
#goal .rectangle i {
  color: #fff;
  opacity: 0.4;
  font-size: 5rem;
}
/* line 478, stylesheet.scss */
#goal .rectangle h3 {
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.375px;
}
/* line 485, stylesheet.scss */
#goal .rectangle p {
  color: #ffffff;
  font-family: "SourceHanSans-Normal";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* line 493, stylesheet.scss */
#goal .rectangle:before {
  counter-increment: number 1;
  content: counter(number) " ";
  position: absolute;
  width: 43px;
  height: 43px;
  font-size: 1.25rem;
  font-weight: 400;
  top: -43px;
  left: calc(50% - 21.5px);
  background: inherit;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 510, stylesheet.scss */
#goal p {
  font-family: "SourceHanSans-Normal";
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

/* line 518, stylesheet.scss */
#faq {
  margin-top: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #f5f5f5;
  border-radius: 45px;
}
/* line 525, stylesheet.scss */
#faq .rectangle {
  border-radius: 26px;
  background: #ffffff;
}
/* line 529, stylesheet.scss */
#faq .rectangle p {
  position: relative;
  padding-left: 75px;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}
/* line 536, stylesheet.scss */
#faq .rectangle .answer {
  border-top: solid 4px #ebf1f5;
}
/* line 539, stylesheet.scss */
#faq .rectangle .question p:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  content: "Q";
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  background: #6dd2a5;
}
/* line 554, stylesheet.scss */
#faq .rectangle .answer p:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  content: "A";
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid 3px;
  text-align: center;
}
/* line 570, stylesheet.scss */
#faq a.inquiry {
  display: block;
  width: 450px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background: #33404e;
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.4137931px;
}
/* line 583, stylesheet.scss */
#faq a.inquiry:after {
  display: block;
  content: "";
  position: absolute;
  top: calc(50% - 18px);
  right: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* line 596, stylesheet.scss */
#cost {
  margin-top: 20vh;
}
/* line 599, stylesheet.scss */
#cost .background-green {
  margin-top: 10vh;
  padding: 10vh 0;
}
/* line 603, stylesheet.scss */
#cost p {
  color: #ffffff;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
/* line 612, stylesheet.scss */
#cost .rectangle {
  border-radius: 15px;
  border: solid 3px #ffffff;
  background: #ffffff;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
/* line 620, stylesheet.scss */
#cost .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
}
/* line 626, stylesheet.scss */
#cost .rectangle p {
  color: #51c191;
  font-size: 1rem;
}
/* line 630, stylesheet.scss */
#cost .rectangle p.price {
  font-size: 2rem;
  border-bottom: solid 3px #51c191;
}

/* line 637, stylesheet.scss */
#function-list {
  margin-top: 20vh;
}
/* line 640, stylesheet.scss */
#function-list table {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
/* line 647, stylesheet.scss */
#function-list table tr td {
  padding: 1.25rem 2.5rem;
  border: solid 1px #979797;
  color: #333333;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}
/* line 656, stylesheet.scss */
#function-list table tr td:first-child {
  border-left: none;
  vertical-align: top;
}
/* line 660, stylesheet.scss */
#function-list table tr td:last-child {
  border-right: none;
}
/* line 664, stylesheet.scss */
#function-list table tr:first-child td {
  border-top: none;
}

/* line 670, stylesheet.scss */
.dushboard {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* line 674, stylesheet.scss */
.dushboard .underscore {
  border-bottom: solid 3px #51c191;
}
/* line 678, stylesheet.scss */
.dushboard h3 {
  display: inline-block;
  padding-left: 5rem;
  font-family: "HiraKakuPro-W6";
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
/* line 686, stylesheet.scss */
.dushboard p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
/* line 693, stylesheet.scss */
.dushboard img {
  width: 100%;
  height: auto;
}
/* line 697, stylesheet.scss */
.dushboard i {
  display: inline-block;
  font-size: 2.5rem;
}

/* line 703, stylesheet.scss */
#documents {
  margin-top: 10vh;
}
/* line 707, stylesheet.scss */
#documents img {
  width: 100%;
  height: auto;
}
/* line 711, stylesheet.scss */
#documents p {
  color: #666666;
  font-family: "HiraKakuPro-W6";
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

/* line 721, stylesheet.scss */
#function-ditails {
  margin-top: 10vh;
}
/* line 725, stylesheet.scss */
#function-ditails h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
/* line 732, stylesheet.scss */
#function-ditails .rectangle {
  height: 20rem;
  border-radius: 15px;
  border: solid 3px #51c191;
  text-align: center;
}
/* line 737, stylesheet.scss */
#function-ditails .rectangle i {
  font-size: 5rem;
  color: #51c191;
}
/* line 741, stylesheet.scss */
#function-ditails .rectangle h4 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: solid 3px #51c191;
}
/* line 748, stylesheet.scss */
#function-ditails .rectangle p {
  color: #51c191;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

/* line 758, stylesheet.scss */
#example {
  margin-top: 10vh;
}
/* line 762, stylesheet.scss */
#example .gradient-green {
  background: linear-gradient(180deg, #fff 0%, #fff 20%, #51c191 20%, #51c191 100%);
}
/* line 765, stylesheet.scss */
#example .rectangle {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #fff;
}
/* line 770, stylesheet.scss */
#example .rectangle img {
  width: 100%;
  height: auto;
}
/* line 775, stylesheet.scss */
#example .rectangle h3 {
  color: #51c191;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-bottom: solid 3px #51c191;
}
/* line 784, stylesheet.scss */
#example .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/* line 794, stylesheet.scss */
.contact {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
/* line 798, stylesheet.scss */
.contact .rectangle {
  text-align: center;
  border-radius: 15px;
  border: solid 3px #51c191;
  background: #ffffff;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
/* line 806, stylesheet.scss */
.contact .rectangle h3 {
  color: #050505;
  font-family: "HiraKakuPro-W6";
  font-size: 2.5rem;
  font-weight: 400;
}
/* line 812, stylesheet.scss */
.contact .rectangle p {
  color: #666666;
  font-family: "HiraKakuPro-W3";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}
/* line 819, stylesheet.scss */
.contact .rectangle a {
  display: inline-block;
  padding: 1rem 10rem;
  border-radius: 37.5px;
  background: #51c191;
  box-shadow: -2px -3px 4px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "HiraKakuPro-W6";
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 834, stylesheet.scss */
footer h2, footer h3, footer p, footer a {
  color: #fff;
  font-family: "HiraginoSans-W6";
  font-weight: 400;
  font-size: 1rem;
}
/* line 841, stylesheet.scss */
footer h2 {
  font-size: 2.5rem;
}
/* line 844, stylesheet.scss */
footer a {
  display: block;
}
/* line 847, stylesheet.scss */
footer a:before {
  content: "- ";
}
